---
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav.svelte'
import Hero from '../components/Hero.astro'
import Projects from '../components/Projects.svelte'
import About from '../components/About.astro'
import { ScrollSpy, ScrollableSection } from '@beyonk/svelte-scrollspy'

const fetchedProjects = Astro.fetchContent('/src/pages/project/**/*.md')
	.filter(({ publishDate }) => !!publishDate)
	.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf())
---

<html lang="en" class="scroll-smooth scroll-p-28">
	<head>
		<MainHead />
	</head>
	<body class="bg-primary-dark text-white font-syne">
		<ScrollSpy client:load>
			<Nav client:load />

			<Hero />

			<ScrollableSection client:load id="projects">
				<Projects projects={fetchedProjects} />
			</ScrollableSection>

			<ScrollableSection client:load id="about">
				<About />
			</ScrollableSection>
		</ScrollSpy>
	</body>
</html>
