---
import ProjectCard from '../components/ProjectCard.svelte'

const projects = Astro.fetchContent('/src/pages/project/**/*.md')
	.filter(({ publishDate }) => !!publishDate)
	.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf())
---

<section
	id="projects"
	class="grid grid-cols-1 xl:grid-cols-3 md:grid-cols-2 border-t-2 border-b-2 border-stone-800 gap-[2px] divide-stone-800 scroll-p-28"
>
	{projects.map(project => <ProjectCard project={project} />)}
</section>
