---
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button.svelte';
import Footer from '../components/Footer.svelte';
import Nav from '../components/Nav.svelte';

const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
	<head>
		<MainHead title={content.title} description={content.description} />
	</head>
	<body></body>
</html>
